.VIBGYOR{
    margin: 10px 10px 10px 10px;
    width: 70%;
    height: 95%;
    padding: 10px 25%;
}

.v,.i,.b,.g,.y,.o,.r{
    float: left;
    width: 10%;
    height: 95%;
}

.v{
    background-color: violet;
}
.i{
    background-color: indigo;
}
.b{
    background-color: blue;
}
.g{
    background-color: green;
}
.y{
    background-color: yellow;
}
.o{
    background-color: orange;
}
.r{
    background-color: red;
}
